<h1>History of <%= @mac %></h1>

<h2>Ports</h2>

<ul>
<% @ports.each do |port| %>  
  <li><%= port %></li>
<% end %>
</ul>

<h2>Ip</h2>

<dl>
  <% @arps.each do |arp| %> 
    <dt><%= arp.ip %> <%= l arp.date %> </dt>
    <dd><%= arp.ip.last_info %></dd>
  <% end %>
</dl>

