<div class="modal-header">
  <a class="close" data-dismiss="modal">&times;</a>
  <h3>Modifica <%= ip %></h3>
</div>
<div class="modal-body">
  <div id="ip-form">
  <div id="error_div">ciao</div>
  <form>
    <div class="clearfix">
      <label>Nome</label>
      <div class="input">
        <input type="text" value="<%= info.get('name') %>" id="info-name" /><br/>
      </div>
    </div>
    <div class="clearfix">
      <label>Descrizione</label>
      <div class="input">
        <textarea id="info-comment"><%= info.get('comment') %></textarea>
      </div>
    </div>
    <div class="clearfix">
      <div class="input">
        <input type="submit" id="ip-submit" class="btn primary" value="invia"/>
      </div>
    </div>
  </form>
  </div>
</div>
<div class="modal-footer">
  Ultima volta visto attivo <%= arp.last_seen() %> giorni fa. <br/>
  Dns: "<%= info.get('dnsname') %>".
</div>

