  <td><%= ip %></td>
  <td><%= info.get('name') %></td>
  <td><%= info.get('comment') %></td>
  <td><%= arp.last_seen() %></td>
  <td><%= info.get('dnsname') %></td>
  <td><%= arp.get('mac') %></td>
  <td><%= info.get('dhcp') && 'dhcp' %></td>
  <td><span class="connect"><i class="icon-eye-open"></i></span></td>
  <td><span class="notify"><% if (notify != 1) { %><i class="icon-time"></i><% } %></span></td>
  <td><span class="ip-reset"><i class="icon-fire"></i></span></td>
  <td><span class="wol"><i class="icon-volume-up"></i></span></td>
  <td><span class="protocol"><%= conn_proto || '?' %></span>
  </td>

