<!DOCTYPE html>
<html>
<head>
  <title>NmsOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'NMS on Rails', root_path, :class => "brand" %>
        <ul class="nav pull-left">
          <% Network.all.each do |net| %>  
            <li><%= link_to net, "/##{net.id}" %></li>
          <% end %>
          <li><%= link_to 'facts', facts_path %></li>
          <li><%= link_to "switches", switches_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li>
             <%= form_tag '', :class => "navbar-search", :id => 'search' do %>
               <input type="text" name="search_string" class="search-query" placeholder="Search" />  
             <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
