<!DOCTYPE html>
<html>
  <head>
    <title>NmsOnRails</title>
    <%= stylesheet_pack_tag "application" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='menu' root_path='<%= root_path %>' networks='<%#= Network.all.pluck(:name).to_json.html_safe %>'></div>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
