<!DOCTYPE html>
<html ng-app="ngNms">
<head>
  <title>NmsOnRails</title>
  <script>
    window.BASEURL = '/nms-on-rails'
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'NMS on Rails', root_path, :class => "brand" %>
        <ul class="nav pull-left">
          <% Network.all.each do |net| %>  
            <li><%= link_to net, root_path(:anchor => net.id) %></li>
          <% end %>
        </ul>
        <%= form_tag '', :class => "navbar-search pull-right", :id => 'search' do %>
          <input type="text" name="search_string" class="search-query" placeholder="Search" />  
        <% end %>
        <ul class="nav pull-right">
          <li><%= link_to 'facts', facts_path %></li>
          <li><%= link_to "switches", switches_path %></li>
          <li><%= link_to "networks", networks_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
