<!DOCTYPE html>
<html ng-app="ngNms">
  <head>
    <title>NmsOnRails</title>
    <script>
      window.BASEURL = ''
    </script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <%= link_to 'NMS on Rails', root_path, :class => "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <% Network.all.each do |net| %>  
            <li><%= link_to net, root_path(:anchor => net.id) %></li>
          <% end %>
        </ul>
        <%= form_tag '', :class => "navbar-form pull-right", :id => 'search' do %>
          <input id="search_input" type="text" name="search_string" class="search-query" placeholder="Search" ng-model="search_string" />  
          <a href="" ng-click="search_string=''; "><i class="icon-remove"></i></a>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'facts', '/#facts' %></li>
          <li><%= link_to "switches", switches_path %></li>
          <li><%= link_to "networks", networks_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
